<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:400,600,700&display=swap">
	<link rel="stylesheet" href="css/styles.css">
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10">
            <div class="card mt-5">
                <div class="card-body">
                    <div class="text-center mt-3 login-title">
                        <img src="/images/Login_logo.png" alt="User face" style="width: 100px; height: 100px; border-radius: 50%;">
                        <div class="text-center mt-3 login-title" id="id"></div>
                    </div>
					
					<h2 th:text="'Ciao ' + ${username} + ' !'"></h2>
					<p th:text="'Bilancio: ' + ${balance}"></p>
					<p th:text="'Email: ' + ${email}"></p>
    				<p th:text="'Indirizzo: ' + ${address}"></p>
    				<p th:text="'Descrizione: ' + ${description}"></p> 

					<a href="/transfer" class="btn btn-primary btn-block mt-3">Trasferisci fondi</a>
					<a href="/board" class="btn btn-primary btn-block mt-3">Bacheca dei commenti</a>					
                    <a href="/review" class="btn btn-primary btn-block mt-3">Lascia una recensione</a>
                    <a href="/update-account" class="btn btn-primary btn-block mt-3">Aggiorna il tuo account</a>
                    <a href="/logout" class="btn btn-primary btn-block mt-3">Logout</a>

                </div>                
            </div>
        </div>
    </div>
</div>
</body>
</html>
