<!DOCTYPE html>
<html>
<head>
    <title>Update account</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:400,600,700&display=swap">
	<link rel="stylesheet" href="css/styles.css">
</head>
<body>

<div class="container">
	    <div class="row justify-content-center">
	        <div class="col-lg-6 col-md-8 col-sm-10">
	            <div class="card mt-5">
	                <div class="card-body">
						
				    <h2>Modifica il tuo account</h2><br>
				    <form id="updateAccountForm" action="/update-account" method="POST">
																   
							<label for="email">Email:</label><br>
							<input type="text" name="email" id="email"><br><br>

							<label for="address">Indirizzo:</label><br>
							<input type="text" name="address" id="address"><br><br>
							
							<label for="description">Descrizione:</label><br>
							<input type="text" name="description" id="description"><br><br>

				        <input type="submit" class="btn btn-primary-green btn-block mt-3" value="Conferma">
				    </form>
	                
	                <br>
	                <div id="responseMessage"></div>
	                <br>
	                
	                <div style="color: red;">
	                <b>Esempi di payload per SQL Injection: </b><br>
	                ', balance=9999 where username='alice' -- <br>
	                ', balance=1 where username='carl' --
	                </div>
	                
	                </div>                
	            </div>
	            
	        <a href="/home" class="btn btn-primary btn-block mt-3">Torna alla home</a>
	        </div>
	    </div>
	</div>

</body>
<script type="text/javascript" src="js/updateAccountScript.js"></script>
</html>